<!DOCTYPE html>
<html>
  <head>
    <title>FlashMsg</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <div class="max-w-6xl pt-4 mx-auto">
      <%= render "layouts/flash" %>
      <%= yield %>
    </div>
  </body>
</html>
